{% extends "base.html" %}
{% block content %}


<h2> Reload the APP </h2>

<button onclick="startApp()" style="background-color: green; color: white;">
    Start App
</button>

    <p id="message"></p>

    <script>
        function startApp() {
            document.getElementById("message").innerText = "App reloading...";

            fetch("/start-app")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("message").innerText = data.message;
                })
                .catch(error => {
                    document.getElementById("message").innerText = "Error starting app";
                });
        }
    </script>

<h2>Login</h2>

<form method="post">
    
    <input class="form-control mb-2" name="username" placeholder="Username">
    <input class="form-control mb-2" name="password" type="password" placeholder="Password">
    <button class="btn btn-success">Login</button>
    <a href="/register" class="btn btn-link">Register</a>
</form>

{% endblock %}